@using BookingAppStore.Models;
@model IEnumerable<Book>
@*@model IEnumerable<BookingAppStore.Models.Book>*@
@{
    ViewBag.Title = "Book shop";
}
<a href="/Home/Create">Создать</a>
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a>|<a href="/Home/Delete/@b.Id">Удалить</a>|<a href="/Home/Edit/@b.Id">Изменить</a></p></td>
            </tr>
        }
    </table>
</div>

@helper BookList(IEnumerable<Book> books)
{
    <ul>
        @foreach (Book b in books)
        {
            <li>@b.Name</li>
        }
    </ul>
}

@section Footer {
    <h2>Все права защищены. Syte Corp. 2023.</h2>
}
